body {
    background-color: blue;
    color:navajowhite
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
display: flex;
justify-content:space-between;
align-items: center;

}
.column {
    display: flex;
    justify-content:space-between;
    align-items: center;
   border: red 1px solid; 
}

.main {
        display: flex;
        justify-content:space-between;
        align-items: center;
       border: red 1px solid; 
}

.main .column {
        flex: 1;

}

.main .column li {

    display:inline-flex;
    justify-content: space-between;
}

.questionBoard {
    opacity: 0;
}

.questionBoard.visible {
    opacity: 1;
}